<form>
    <label for="input1" name="inputLabel">Input 1:</label>
    <input type="text" id="input1" name="input1" required>
  
    <fieldset>
      <legend>Select an option:</legend>
      <label><input type="radio" name="radio" value="option1" required> Option 1</label>
      <label><input type="radio" name="radio" value="option2" required> Option 2</label>
      <label><input type="radio" name="radio" value="option3" required> Option 3</label>
      <label><input type="radio" name="radio" value="option3" required> Option 4</label>
      <label><input type="radio" name="radio" value="option3" required> Option 5</label>
    </fieldset>
  </form>
  
<style type="text/css">
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        /* darle un gap a cada input */
        gap: 5rem;
    }
</style>