<form>
    <!-- 5 inputs de tipo radio que tengan una palabra al lado izquierdo cada uno, cada input tiene una id diferente-->
    <div>
        <input type="radio" id="radio1" name="radio" value="radio1">
        <label for="radio1">Radio 1</label>
    </div>
    <div>
        <input type="radio" id="radio2" name="radio" value="radio2">
        <label for="radio2">Radio 2</label>
    </div>
    <div>
        <input type="radio" id="radio3" name="radio" value="radio3">
        <label for="radio3">Radio 3</label>
    </div>
    <div>
        <input type="radio" id="radio4" name="radio" value="radio4">
        <label for="radio4">Radio 4</label>
    </div>
    <div>
        <input type="radio" id="radio5" name="radio" value="radio5">
        <label for="radio5">Radio 5</label>
    </div>

</form>
<style type="text/css">
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        /* darle un gap a cada input */
        gap: 5rem;
    }
</style>