<!-- Sin utilizar Bootstrap -->
<nav>
    <div class="navbar">
        <a href="index.php">Home</a>
        <a href="about.php">About</a>
        <a href="contact.php">Contact</a>
    </div>
</nav>
<style>
    .navbar {
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: aqua;
        flex-direction: column;
        width: 25%;
        height: 30rem;
    }
    nav{
        display: flex;
        justify-content: end;
        position: fixed;
        top: 20rem;
        width: 100%;
    }
</style>